{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <title>Desafio OLX</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.min.css" %}">
    </head>
    <body>
        <div id="app"></div>
        <script src="{% static "bundle.js" %}"></script>
    </body>
</html>
